:root {
    --vidjet-background: white;/*можно передать и изобржение и просто цвет */
    --logo-path: url();
    --logo-text-color: black;/* область логотипа */
    --logo-font-family: Helvetica;
    --logo-background-color: white;
    --item-list-background: white;/*имеется ввиду вся область с товарами какой будет фон*/
    --item-list-category-text-color: green;/*имеется ввиду как будет вот эта полоска с категориями*/
    --item-list-category-font-family: Arial;
    --item-list-category-border-color: green;
    --item-text-color: black;/*имеется ввиду сама краточка товара*/
    --item-font-family: Arial;
    --item-fullView-text-background: white;/* имеется ввиду когда товар развернут*/
    --item-fullView-description-text-color: black;
    --item-fullView-description-border-color: green;
    --all-btns-fontFamily: Arial;
}